.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:active {
  transform: scale(0.98);
}

.todo {
  display: flex;
  flex-wrap: wrap;
}

.todoCard {
  background-color:grey;
  margin: 10px;
  padding: 15px;
  border: 1px solid;
  border-radius: 3px;
  width: 150px;
}

.todoHeader {
  background-color: lightgray;
}